{% extends 'base.html' %}

{% block title %}Home - Gimhan Technologies{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Welcome to Gimhan Technologies</h1>
        <h5>Your partner in technology solutions.</h5>
        <img src="{{ url_for('static', filename='images/gimhan_technologies_banner.png') }}" alt="Gimhan Technologies Banner" class="img-fluid">
        <h2>Contact Us</h2>
        <h5>Email : gimhangavee@gmail.com</h5>
        <h5>Website : www.Gimhan_Technologies.com</h5>
        <h6>(This is an Ongoing website.)</h6>
    </div>

{% endblock %}
